@model CompanyIntranetPortal.Core.Entities.Vacancy

@{
    ViewData["Title"] = "VacancyEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Vacancy Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="VacancyEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PositionName" class="control-label">Position Name</label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDescription" class="control-label">Job Description</label>
                <textarea asp-for="JobDescription" class="form-control" ></textarea>
                <span asp-validation-for="JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label">Due Date</label>
                <input asp-for="DueDate" class="form-control" type="date" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Vacancies">Back to List</a>
</div>

