@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/assets/img/about-us.jpg" style="width: 100%;border: 2px solid white; border-radius: 9px; margin: 0 0 30px 0; height: 238px;" />
<div class="MainCol clearfix col-lg-12 radius_changes" id="about">
    <div id="aboutUsText" data-id="about-us" style="width:100%">
        <div class="about-us-text" data-id="about-us">
            <h1 class="h4">About us</h1>
            <p>Our company is the first job community, where companies directly meet with job seekers. It is the fastest growing jobs and recruitment website in Armenia. With its unique approach our company brings new culture of finding a new job or an employee in an easy and innovative way.</p>
            <p>The idea of our company was born in 2015 in response to the issues identified in talent recourcing and finding right career opportunities in Armenia. It was vitally important to create not just another standard job portal, but a community where employers can search and hire staff they need directly via our company, while employees apply for a job online and get noticed via our company.</p>
            <p>At our company we ensure individual approach for everyone. We offer free registration for users, job invites via our company from employers registered in our company, verification of skills and certificates included in CVs, huge database of potential employees, flexible packages for companies to choose from and more.</p>
            <p>our company was introduced in August, 2016 by offering smart solutions jobs and recruiting, however everything is ahead and we are looking forward to working in Armenia and helping people to find jobs they love and talented staff they need.</p>
            <p>Not yet registered in our company? Then today is the best time to do so. Individuals get instant access to their account and can start to build their profile in minutes, while companies can get a free trial and take advantage of our features.</p>
            <p>Want to stay informed and in touch? Great, we do too. Follow us on social media and get involved.</p>
        </div>
        <div class="about-us-social" data-id="about-us">
            <div class="" style="display:flex;justify-content:center">
                <div>
                    <a><img src="https://hirebee-main-new.s3.amazonaws.com/staff.am/images/icons/fb.png"></a>
                </div>
                <div>
                    <a><img src="https://hirebee-main-new.s3.amazonaws.com/staff.am/images/icons/ln.png"></a>
                </div>
                <div>
                    <a><img src="https://hirebee-main-new.s3.amazonaws.com/staff.am/images/icons/tw.png"></a>
                </div>
                <div>
                    <a><img src="https://hirebee-main-new.s3.amazonaws.com/staff.am/upload/0/f/8/6/0f862368.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>